
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if admin_logged_in? %>
          <li><%= link_to "ユーザー一覧", admin_users_path %></li>
          <li><%= link_to "Profile", current_admin_user %></li>
          <li><%= link_to "プロフィール編集", edit_admin_user_path(current_admin_user) %></li>
          <li><%= link_to "管理者Log out", admin_logout_path, method: :delete %></li>
        <% elsif school_logged_in? %>
          <li><%= link_to "登録教室一覧", school_users_path %></li>
          <li><%= link_to "教室情報", current_school_user %></li>
          <li><%= link_to "教室情報編集", edit_school_user_path(current_school_user) %></li>
          <li><%= link_to "教室Log out", school_logout_path, method: :delete %></li>
        
        <% else %>
          <li><%= link_to "管理者用Log in", admin_login_path %></li>
          <li><%= link_to "教室用Log in", school_login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
